@import "~sweetalert2/dist/sweetalert2.min.css";
body {
  padding: 10px;
  font-family: sans-serif;
}
.pagesHomeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 700;
  border-bottom: 1px solid grey;
  color: grey;
}

.pagesHomeInputs {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.pagesHomeInput {
  width: 22%;
  margin-bottom: 2vh;
  width: 50vh;
}
.pagesHomeInput:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 5px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}
.pagesHomeLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.publicLayoutsDefault {
  margin: 0vh;
  /* background-color: lightblue; */
  background: url("/images/background7.jpg");
  background-size: contain;
  /* background: linear-gradient(236deg, #ffffff, #ff0000, #000000);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
}

.backgroundCss {
  margin: 0px;
  background: linear-gradient(228deg, #282828, #565656);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 49s ease infinite;
  -moz-animation: AnimationName 49s ease infinite;
  animation: AnimationName 49s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.questionDiv {
  background-color: aliceblue;
  width: 70vh;
  height: 100%;
}
.questionDivQuesiton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.options input {
  margin-right: 3vh;
  margin-bottom: 3vh;
}
.nextQuesiton {
  display: flex;
  justify-content: flex-end;
}
.flex {
  display: flex;
}
.pagesHomeFormInputs {
  height: 100%;
}
.publicPagesResults {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: scroll;

  height: 50vh;
  padding-top: 3vh !important;
  margin-left: 1vh;
  margin-right: 1vh;
}

.publicPagesResults > div {
  width: 70vh;
  height: 10vh;
  background-color: lightgrey;
  margin-right: 5vh;
  margin-left: 5vh;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.publicPagesQueHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}
.publicPagesQueHeader > div {
  width: 30vh;
  height: 25vh;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 3vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
}
.profile {
  width: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vh;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
}
.profileEdit {
  width: 30% !important;
  background-color: lightgrey;
  margin-top: -10vh;
  padding: 5vh !important;
  border-radius: 10px;
}
.profileEdit p {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  background-color: white;
}
.seeQuitProfile {
  display: flex;
  justify-content: space-between;
}
.profileButton {
  border: 0px;
  width: 10vh;
  height: 5vh;
  margin-top: 2vh;
  border-radius: 5px;
}
.displayFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ResetPassDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.ResetPassDiv input {
  margin-bottom: 2vh;
}
#resetPassButton {
  background-color: lightgrey;
  text-decoration: underline;
  border: 0px;
  transform: scale(1) !important;
}

#changePassButtonDiv {
  display: flex;
  justify-content: center;
}
.publicPagesHomeAreYou {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.classInfo {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.colorGrey {
  color: grey;
}
.colorWhite {
  color: white !important;
}
.scor,
.average {
  font-weight: bold;
}
.nav-link {
  color: lightgrey !important;
  text-shadow: 1px 1px 1px black; /* Hafif bir gölge */
}
.chatBoxs {
  width: 50%;
}
.chatBox {
  background-color: lightgrey;
}
.chatBoxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.chatBoxMesaages {
  height: 45vh;
  background: url("/images/background3.jpg");
  display: flex;
  flex-direction: column; /* Yeni eklenen satır */
  overflow-y: scroll;
  padding-top: 3vh;
}
.chatBoxFooter {
  display: flex;
  justify-content: space-between;
  height: 4vh;
}
.chatBoxFooterInput {
  width: 95%;
  background-color: #fffff;
}
.chatBoxFooterSend {
  border: 0px;
  background-color: lightgreen;
  width: 5%;
}
.chatBoxMessaageSet {
  display: flex;
  justify-content: space-between;
}
.chatBoxMessaageSend {
  background-color: rgb(255, 217, 179);
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 35%;
  border-radius: 15px;

  margin-right: 2vh;
  margin-bottom: 2vh;
  align-self: flex-end; /* Yeni eklenen satır */
}
.chatBoxMessaageSend p {
  font-size: small;
}

.chatBoxMessaage {
  background-color: lightblue;
  margin-bottom: 2vh;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 35%;
  border-radius: 15px;
  margin-left: 2vh;
  align-self: flex-start;
  /* Yeni eklenen satır */
}
.chatBoxMessaage p {
  font-size: small;
}
.userMessage {
  /* Kullanıcının mesajlarını sağ tarafta göstermek için gerekli stil ayarları */
  text-align: right !important;
  background-color: #dff0d8;
  /* Diğer stiller... */
}
.senderCss .chatBoxMessaage {
  align-self: flex-end;
  background-color: #dff0d8;
}

.anotherUserCss .chatBoxMessaage {
  align-self: flex-start;
  background-color: #d9edf7;
}
.pChatClick {
  color: gray;
  text-shadow: 1px 1px 1px black; /* Hafif bir gölge */
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PChat {
  display: flex;
  flex-direction: column;
}
.PChatSelect {
  display: flex;
  margin-bottom: 3vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.selectReciver {
  margin-top: 1vh;
}
#selectReciverLabel {
  color: black;
}
.chatBoxMessaage > p,
.chatBoxMessaageSend > p {
  font-size: 2vh;
}

.chatBoxMessaageSet > p:first-child {
  opacity: 0.5;
}
p {
  margin-bottom: 1vh;
  margin-top: 0px;
}
#buttonPChat,
#buttonChat {
  border-radius: 10px;
}

button:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

button {
  transition: transform 0.5s ease;
}
#chatSend {
  transform: scale(1) !important;
}
.chatBoxEmptyMessage {
  display: flex;
  justify-content: center;
  font-family: math;
  font-size: x-large;
  /* font-weight: bold; */
  text-shadow: 1px 1px grey;
  margin-top: inherit;
  /* position: absolute; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.quizTable {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 20%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.quizTableButton {
  border-radius: 5px;
  transform: scale(1) !important;
}
.navbar-brand {
  text-shadow: black 1px 1px 1px !important;
  color: lightgrey !important;
}
.deleteButton a {
  margin-bottom: 1vh;
  box-shadow: 2px 5px 2px 0px;
  background-color: white;
  padding: 5px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.publicPagesQueHeader2 {
  display: flex;
  flex-direction: column;
}
.publicPagesQueHeader2 > select {
  width: 30vh;

  background-color: lightgrey;
  border-radius: 10px;
  margin: 3vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4vh;
}

.publicPagesQueHeader2 > button {
  margin-top: 5vh;
}
#classInfoButton a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
}
.flexDate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}
.questionBox {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
}
.restTime {
  background-color: whitesmoke;
  padding: 1vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#quizHeaderEx2 {
  border: 1px solid black;
  border-radius: 8px;
  padding-right: 5px;
  padding-left: 5px;
}
:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  --blue: #007497;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: cursive;
}
.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.light .calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

.calendarBigBox {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  font-family: "Poppins", serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 85% !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.activity {
  background-color: #007497;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: -3vh;
}
.activity2 {
  background-color: #007497;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  margin-left: -3vh;
}
.activity h3 {
  font-family: system-ui;
  font-size: xx-large;
}
.calendarActivityAddDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
.calendarActivityAddDiv input {
  width: 100%;
  height: 20vh;
  margin-bottom: 2vh;
}
.calendarActivityAddDiv button {
  width: 100%;
  margin-bottom: 4vh;
}
.activity2 ul li {
  list-style: none;
  background-color: white;
  padding-left: 1vh;
  padding-right: 1vh;
  margin-bottom: 3vh;
  width: auto;
  margin-right: 2vh;
}
.activity2Ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
