@import "~sweetalert2/dist/sweetalert2.min.css";
body {
  padding: 10px;
  font-family: sans-serif;
}
.pagesHomeHeader {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 700;
  border-bottom: 1px solid grey;
  color: grey;
}
.pagesHomeInputs {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
.pagesHomeInput {
  width: 22%;
  margin-bottom: 2vh;
  width: 50vh;
}
.pagesHomeInput:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 5px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
}
.pagesHomeLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.publicLayoutsDefault {
  margin: 0vh;
  /* background-color: lightblue; */

  background: linear-gradient(236deg, #ffffff, #ff0000, #000000);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
}

.backgroundCss {
  margin: 0px;
  background: linear-gradient(236deg, #ffffff, #ff0000, #000000);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.questionDiv {
  background-color: aliceblue;
  width: 70vh;
  height: 100%;
}
.questionDivQuesiton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.options input {
  margin-right: 3vh;
  margin-bottom: 3vh;
}
.nextQuesiton {
  display: flex;
  justify-content: flex-end;
}
.flex {
  display: flex;
}
.pagesHomeFormInputs {
  height: 100%;
}
.publicPagesResults {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-y: scroll;

  height: 50vh;
  padding-top: 3vh !important;
  margin-left: 1vh;
  margin-right: 1vh;
}

.publicPagesResults > div {
  width: 70vh;
  height: 10vh;
  background-color: lightgrey;
  margin-right: 5vh;
  margin-left: 5vh;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.publicPagesQueHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}
.publicPagesQueHeader > div {
  width: 30vh;
  height: 10vh;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 3vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
}
.profile {
  width: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vh;
  border-radius: 5px;
  background-color: grey;
  cursor: pointer;
}
.profileEdit {
  width: 30% !important;
  background-color: lightgrey;
  margin-top: -10vh;
  padding: 5vh !important;
  border-radius: 10px;
}
.profileEdit p {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  background-color: white;
}
.seeQuitProfile {
  display: flex;
  justify-content: space-between;
}
.profileButton {
  border: 0px;
  width: 10vh;
  height: 5vh;
  margin-top: 2vh;
  border-radius: 5px;
}
.displayFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ResetPassDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.ResetPassDiv input {
  margin-bottom: 2vh;
}
#resetPassButton {
  background-color: lightgrey;
  text-decoration: underline;
  border: 0px;
}

#changePassButtonDiv {
  display: flex;
  justify-content: center;
}
.publicPagesHomeAreYou {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.classInfo {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.colorGrey {
  color: grey;
}
.colorWhite {
  color: white !important;
}
.scor,
.average {
  font-weight: bold;
}
.nav-link {
  color: lightgrey !important;
  text-shadow: 1px 1px 1px black; /* Hafif bir gölge */
}
.chatBoxs {
  width: 50%;
}
.chatBox {
  background-color: lightgrey;
}
.chatBoxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.chatBoxMesaages {
  height: 45vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Yeni eklenen satır */
  overflow-y: scroll;
  padding-top: 3vh;
}
.chatBoxFooter {
  display: flex;
  justify-content: space-between;
  height: 4vh;
}
.chatBoxFooterInput {
  width: 95%;
  background-color: lightgrey;
}
.chatBoxFooterSend {
  border: 0px;
  background-color: lightgreen;
  width: 5%;
}
.chatBoxMessaageSet {
  display: flex;
  justify-content: space-between;
}
.chatBoxMessaageSend {
  background-color: #d5b59c;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 35%;
  border-radius: 15px;

  margin-right: 2vh;
  margin-bottom: 2vh;
  align-self: flex-end; /* Yeni eklenen satır */
}
.chatBoxMessaageSend p {
  font-size: small;
}

.chatBoxMessaage {
  background-color: lightblue;
  margin-bottom: 2vh;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 35%;
  border-radius: 15px;
  margin-left: 2vh;
  align-self: flex-start;
  /* Yeni eklenen satır */
}
.chatBoxMessaage p {
  font-size: small;
}
.userMessage {
  /* Kullanıcının mesajlarını sağ tarafta göstermek için gerekli stil ayarları */
  text-align: right !important;
  background-color: #dff0d8;
  /* Diğer stiller... */
}
.senderCss .chatBoxMessaage {
  align-self: flex-end;
  background-color: #dff0d8;
}

.anotherUserCss .chatBoxMessaage {
  align-self: flex-start;
  background-color: #d9edf7;
}
.pChatClick {
  color: gray;
  text-shadow: 1px 1px 1px black; /* Hafif bir gölge */
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PChat {
  display: flex;
  flex-direction: column;
}
.PChatSelect {
  display: flex;
  margin-bottom: 3vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.selectReciver {
  margin-top: 1vh;
}
#selectReciverLabel {
  color: white;
  text-shadow: 1px 1px 1px black; /* Hafif bir gölge */
}
.chatBoxMessaage > p,
.chatBoxMessaageSend > p {
  font-size: 2vh;
}

.chatBoxMessaageSet > p:first-child {
  opacity: 0.5;
}
p {
  margin-bottom: 1vh;
  margin-top: 0px;
}
#buttonPChat,
#buttonChat {
  border-radius: 10px;
}

button:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

button {
  transition: transform 0.5s ease;
}
#chatSend {
  transform: scale(1) !important;
}
.chatBoxEmptyMessage {
  display: flex;
  justify-content: center;
  font-family: math;
  font-size: x-large;
  /* font-weight: bold; */
  text-shadow: 1px 1px grey;
  margin-top: inherit;
  /* position: absolute; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.quizTable {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 20%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.quizTableButton {
  border-radius: 5px;
  transform: scale(1) !important;
}
.navbar-brand {
  text-shadow: black 1px 1px 1px !important;
  color: lightgrey !important;
}
.deleteButton a {
  margin-bottom: 1vh;
  box-shadow: 2px 5px 2px 0px;
  background-color: white;
  padding: 5px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.publicPagesQueHeader2 {
  display: flex;
  flex-direction: column;
}
.publicPagesQueHeader2 > select {
  width: 30vh;

  background-color: lightgrey;
  border-radius: 10px;
  margin: 3vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4vh;
}

.publicPagesQueHeader2 > button {
  margin-top: 5vh;
}
